<div class="container">
    <header>
        <div class="welcome-user">
            <span>Today is Friday, 21st febriary 2021</span>
            <h1>Good Evening, <b>Jose</b></h1>
        </div>
        <div class="info-user">
            <div class="avatar-user">
                <img src="https://avatars2.githubusercontent.com/u/6364209?s=460&u=b2e828e81b1310f0fdb4ff3361fcb3b1f5fa536d&v=4" alt="avatar" width="40px" height="40px">
            </div>
            <div class="notifications">
                <i class="far fa-bell"></i>
            </div>
        </div>
    </header>

<section class="info-companies">
    <div class="box-one">
        <div class="order-history">
            <div class="add-product">
                <select name="" id="" placeholder="Choose another product"></select>
                <button>Add</button>
            </div>
            <h2>Order History</h2>
            <div class="order-data-table">
                <table>
                <tr>
                    <th>Date</th>
                    <th>Transaction ID</th>
                    <th>Value</th>
                    <th>Product Name</th>
                    <th>Status</th>
                </tr>
                <tr>
                    <td>21/02/2021</td>
                    <td>12345678</td>
                    <td>36$</td>
                    <td>BOC-3 Filling</td>
                    <td>In Progress</td>
                </tr>
                <tr>
                    <td>18/02/2020</td>
                    <td>12345678</td>
                    <td>48$</td>
                    <td>MC3-Form</td>
                    <td>Completed</td>
                </tr>
                <tr>
                    <td>11/12/2019</td>
                    <td>12345678</td>
                    <td>56$</td>
                    <td>US-DOT</td>
                    <td>Failed</td>
                </tr>
                </table>
            </div>
        </div>
        <div class="my-companies">
            <h2>My Companies</h2>
            <div class="table-companies">
                <table>
                    <tr>
                        <th>Company</th>
                        <th> </th>
                    </tr>
                    <tr>
                        <td>Claudia Garcia LLC (NM) <br/> View Details </td>
                        <td>
                            Trucking Classification: S-Corporation | Fiscal Year End: Dec 31 Active
                            <br/>
                            BOC-3 Filed: <span>Active</span>
                            <br/>
                            Biannual filing: <span>Active</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Claudia Garcia LLC (NM) <br/> View Details </td>
                        <td>
                            Trucking Classification: S-Corporation | Fiscal Year End: Dec 31 Active
                            <br/>
                            BOC-3 Filed: <span>Active</span>
                            <br/>
                            Biannual filing: <span>Active</span>
                        </td>
                    </tr>
                </table>
            </div>    
        </div>
    </div>
    <br><br>
    <div class="box-two">
        <div class="transaction-method">
            <div class="header-method">
                <div class="title-method">
                    <h2>Transaction Method</h2>
                </div>
                <div class="button-method">
                    <button> <i class="fas fa-plus"></i> Add New </button>
                </div>
                <div class="data-method">
                    <table>
                        <tr>
                            <th>MasterCard</th>
                            <th> </th>
                            <th>Visa</th>
                            <th> </th>
                            <th>Paypal</th>
                            <th> </th>
                        </tr>
                        <tr>
                            <td>USA Physical</td>
                            <td>N400</td>
                            <td>USA Physical</td>
                            <td>N400</td>
                            <td>USA Physical</td>
                            <td>N400</td>
                        </tr>
                        <tr>
                            <td>USA E-Code card</td>
                            <td>N400</td>
                            <td>USA E-Code card</td>
                            <td>N400</td>
                            <td>USA E-Code card</td>
                            <td>N400</td>
                        </tr>
                        <tr>
                            <td>UK Physical Card</td>
                            <td>N400</td>
                            <td>UK Physical Card</td>
                            <td>N400</td>
                            <td>UK Physical Card</td>
                            <td>N400</td>
                        </tr>
                        <tr>
                            <td>UK E-Code Card</td>
                            <td>N400</td>
                            <td>UK E-Code Card</td>
                            <td>N400</td>
                            <td>UK E-Code Card</td>
                            <td>N400</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how-works">
    <h2>How It Works</h2>
    <div class="services">
        <div class="service">
            <div class="icon-service">
                <img src="../public/images/customer-service 1.png" alt="customer-service">
            </div>
            <div class="description-service">
                <span>
                    1. Request a consultation in the Member Center
                </span>
            </div>
        </div>
        <div class="service">
            <div class="icon-service">
                <img src="../public/images/support 1.png" alt="support-service">
            </div>
            <div class="description-service">
                <span>
                    2. An agent call you directly
                </span>
            </div>
        </div>
        <div class="service">
            <div class="icon-service">
                <img src="../public/images/father 1.png" alt="advice-service">
            </div>
            <div class="description-service">
                <span>
                    3. Get advice on how to handle your trucking matter
                </span>
            </div>
        </div>
    </div>
</section>

<section class="faqs">
    <div class="questions">
        <h2>Common Questions</h2>
        <ul>
            <li>How often can I talk to an agent? <i class="fas fa-plus"></i></li>
            <li>How long are the agent consultations? <i class="fas fa-plus"></i></li>
            <li>What can I ask about? <i class="fas fa-plus"></i></li>
            <li>What if I need more time or have an ongoing legal matter? <i class="fas fa-plus"></i></li>
            <li>How do I start speaking with an agent? <i class="fas fa-plus"></i></li>
        </ul>
        <div class="contact">
            <h3>Questions? Call <span>800-832-5660</span> </h3>
            <button>Email Us</button>
        </div>
    </div>
    <div class="reviews-faqs">
        <h2>What customers are saying</h2>
        <div class="review">
            <h3>Amazing Experience!</h3>
            <p>
                FMCSA is the friendliest and most efficient company I have ever used.
                They will help you from start to finish to complete the registrations.
            </p>
            <div class="info-reviewer">
                <div class="date">
                    <span>9am h 7pm Est.</span>
                    <br/>
                    <span>Monday Through Friday</span>
                </div>
                <div class="customer-reviewer">
                    <h4>-Customer Name, CEO of Moving Company</h4>
                    <img src="../public/images/i6umoD 1.png" alt="customer">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="new-products">
    <h2>New Products you will like</h2>
    <div class="new-product">
        <img src="../public/images/ucr-registration.png" alt="user">
        <div class="info-new-product">
            <span>Ucr Registration</span>
            <span>$23.00</span>
        </div>
    </div>
    <div class="new-product">
        <img src="../public/images/mc-number.png" alt="user">
        <div class="info-new-product">
            <span>Mc number</span>
            <span>$30.00</span>
        </div>
    </div>
    <div class="new-product">
        <img src="../public/images/dot-number.png" alt="user">
        <div class="info-new-product">
            <span>DOT number</span>
            <span>$20.00</span>
        </div>
    </div>
    <div class="button-view-more">
        <button>VIEW MORE PRODUCTS</button>
    </div>
</section>

<section class="latest-news">
    <h2>Latest News</h2>
    <div class="latest-new-box">
        <div class="image-news">
            <img src="../public/images/Container.png" alt="container">
        </div>
        <div class="preview-news">
            <h4>FMCSA Declares Montana Motor Carrier</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <button>Learn More <i class="fas fa-arrow-right"></i> </button>
        </div>
    </div>
    <div class="latest-new-box">
        <div class="image-news">
            <img src="../public/images/Container.png" alt="container">
        </div>
        <div class="preview-news">
            <h4>FMCSA Proposes New Pilot Program</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <button>Learn More <i class="fas fa-arrow-right"></i> </button>
        </div>
    </div>
    <div class="latest-new-box">
        <div class="image-news">
            <img src="../public/images/Container.png" alt="container">
        </div>
        <div class="preview-news">
            <h4>FMCSA Announces New Commercial Driver</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <button>Learn More <i class="fas fa-arrow-right"></i> </button>
        </div>
    </div>
    <div class="latest-new-box">
        <div class="image-news">
            <img src="../public/images/Container.png" alt="container">
        </div>
        <div class="preview-news">
            <h4>FMCSA Announces 2021 Motor Carrier</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
            <button>Learn More <i class="fas fa-arrow-right"></i> </button>
        </div>
    </div>
</section>
</div>

